@model MVC.Models.User;
@TempData["State"]
<html>
    <head>
        <title>Login</title>

    </head>
    <body>
        <h1>Login</h1>
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <hr/>
            <div>
                <input class="btn btn-primary" type="submit" name="Login" value="Save" /> | New user?
                <a class="btn btn-outline-primary btn-sm" href="/Account/Signup" role="button">Signup</a>
            </div>
        }
    </body>
</html>