@model MVC.Models.SignupUser;
@TempData["State"]
<html>
    <head>
        <title>Signup</title>

    </head>
    <body>
        <h1>Signup</h1>
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div>
                @Html.Label("Admin")
                @Html.RadioButtonFor(m => m.UserRole,"Admin")
                @Html.Label("User")
                @Html.RadioButtonFor(m => m.UserRole,"User")
            </div>
            <hr/>
            <div>
                <input class="btn btn-primary" type="submit" name="Signup" value="Save" />
            </div>
        }
    </body>
</html>