﻿@model MVC.Models.SoftwareLicence;
 @TempData["State"]
<html>
<head>
    <title>Insert a new Software</title>
</head>
<body>
    <h1>Insert a new Software</h1>
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Id)
            @Html.TextBoxFor(m => m.Id)
            @Html.ValidationMessageFor(m => m.Id)
        </div>
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price)
            @Html.ValidationMessageFor(m => m.Price)
        </div>
        <div>
            @Html.LabelFor(m => m.Manufacturer)
            @Html.TextBoxFor(m => m.Manufacturer)
            @Html.ValidationMessageFor(m => m.Manufacturer)
        </div>
        <div>
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div>
            @Html.LabelFor(m => m.Expiry)
            @Html.TextBoxFor(m => m.Expiry)
            @Html.ValidationMessageFor(m => m.Expiry)
        </div>
        <div>
            <input class="btn btn-primary" type="submit" name="create-softwareLicence" value="Save" />
        </div>
    }
</body>
<div>
    </br>
        <a class="btn btn-outline-primary btn-sm" href="/Home" role="button">Home</a>
</div>
</html>
