@model List<SoftwareLicence>
<html>
    <head>
        <title>Software Licence Details</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    </head>
    <body>
        <p>
            <h6>Want to Search a SofwareLicence ?  <a class="btn btn-outline-primary btn-sm" href="/SoftwareLicence/Search">Search</a></h6>
        </p>
        <div>
             Return to <a class="btn btn-outline-success btn-sm" href="/Home">Main Menu</a>
        </div>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <div>
                <hr> Add Software Licence
                <a class="btn btn-outline-success btn-sm" href="/SoftwareLicence/Create">Add</a>
            </div>
        }
        <table class="table">
            </br>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Manufacturer</th>
                    <th>Description</th>
                    <th>Expiry</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var softwareLicence in Model)
                {
                    <tr>
                        <td>@softwareLicence.Id</td>
                        <td>@softwareLicence.Name</td>
                        <td>@softwareLicence.Price</td>
                        <td>@softwareLicence.Manufacturer</td>
                        <td>@softwareLicence.Description</td>
                        <td>@softwareLicence.Expiry</td>
                        <td>
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <a asp-action="Update" asp-route-id="@softwareLicence.Id">Update |</a>
                                <a asp-action="Delete" asp-route-id="@softwareLicence.Id"> Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>

