@model MVC.Models.SoftwareLicence;
@TempData["State"]
<html>
    <head>
        <title>Search a SoftwareLicence by Id</title>
    </head>
    <body>
        <h1>Enter SoftwareLicence Id to search</h1>
        @using (Html.BeginForm("SearchSoftware","SoftwareLicence",FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.Id)
                @Html.TextBoxFor(m => m.Id)
                @Html.ValidationMessageFor(m => m.Id)
            </div>
            <div>
                <input class="btn btn-info btn-sm" type="submit" name="search-softwareLicence" value="Search" />
            </div>
            <hr>
        }
        <a class="btn btn-outline-primary btn-sm" href="/Home">Main Menu</a> |
        <a class="btn btn-outline-primary btn-sm" href="/SoftwareLicence/Display">Go back to Display</a>
    </body>
</html>