@model MVC.Models.SoftwareLicence;
<html>
    <head>
        <title>SoftwareLicence Details</title>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Manufacturer</th>
                    <th>Description</th>
                    <th>Expiry</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.Id</td>
                        <td>@Model.Name</td>
                        <td>@Model.Price</td>
                        <td>@Model.Manufacturer</td>
                        <td>@Model.Description</td>
                        <td>@Model.Expiry</td>
                    </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-primary btn-sm" href="/Home">Main Menu</a> |
        <a class="btn btn-outline-primary btn-sm" href="/SoftwareLicence/Display">Go back to Display</a>
        <a class="btn btn-outline-primary btn-sm" href="/SoftwareLicence/Create">Create</a>
    </body>
</html>

