@model MVC.Models.SoftwareLicence;
@TempData["State"]
<html>
    <head>
        <title>Update a SoftwareLicence</title>
    </head>
    <body>
        <h1>Enter softwareLicence contents to update</h1>
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.Manufacturer)
                @Html.TextBoxFor(m => m.Manufacturer)
                @Html.ValidationMessageFor(m => m.Manufacturer)
            </div>
            <div>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div>
                @Html.LabelFor(m => m.Expiry)
                @Html.TextBoxFor(m => m.Expiry)
                @Html.ValidationMessageFor(m => m.Expiry)
            </div>
            <div>
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price)
                @Html.ValidationMessageFor(m => m.Price)
            </div>
            <div>
                <input class="btn btn-primary btn-sm" type="submit" name="update-softwareLicence" value="Update" />
            </div>
        }
        <div>
            </br>
            <a class="btn btn-outline-primary btn-sm" href="/Home" role="button">Main Menu</a> |
            <a class="btn btn-outline-primary btn-sm" href="/SoftwareLicence/Display">Go back to Display</a>
        </div>
    </body>
</html>