﻿@model MVC.Models.Hardware;
 @TempData["State"]
<html>
    <head>
        <title>Insert a new Hardware</title>
    </head>
    <body>
        <h1>Insert a new hardware</h1>
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Id)
                @Html.TextBoxFor(m => m.Id)
                @Html.ValidationMessageFor(m => m.Id)
            </div>
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price)
                @Html.ValidationMessageFor(m => m.Price)
            </div>
            <div>
                @Html.LabelFor(m => m.Supplier)
                @Html.TextBoxFor(m => m.Supplier)
                @Html.ValidationMessageFor(m => m.Supplier)
            </div>
            <div>
                @Html.LabelFor(m => m.Quantity)
                @Html.TextBoxFor(m => m.Quantity)
                @Html.ValidationMessageFor(m => m.Quantity)
            </div>

            <div>
                <input class="btn btn-primary" type="submit" name="create-hardware" value="Save" />
            </div>
        }
        <div>
            <hr>
                <a class="btn btn-outline-primary btn-sm" href="/Home" role="button">Home</a>
        </div>
    </body>
</html>
