@model Int32
@TempData["State"]
<html>
    <head>
        <title>Delete</title>
    </head>
    <body>
        <h3>Alert you are deleting ID Details </h3>
        @using (Html.BeginForm())
        {
            <div>
                <input class="btn btn-outline-danger" type="submit" name="delete-hardware" value="Confirm" />
            </div>
        }
        <div>
            <hr>
                <a class="btn btn-outline-primary btn-sm" href="/Home" role="button">Home</a>
                <a class="btn btn-outline-primary btn-sm" href="/Hardware/Display">Go back to Display</a>
        </div>
    </body>
</html>