@model List<Hardware>
<html>
    <head>
        <title>Hardware Details</title>
    </head>
    <body>
        <p>
            <h6>Want to Search a Hardware ?  <a class="btn btn-outline-primary btn-sm" href="/Hardware/Search">Search</a></h6>
        </p>
        <div>
            Return to <a class="btn btn-outline-success btn-sm" href="/Home">Main Menu</a>
        </div>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <div>
                    <hr>
                    <h6>Add Hardware</h6>       
                    <a class="btn btn-outline-success btn-sm" href="/Hardware/Create">Add</a>   
            </div>
        }
        <table class="table">
            </br>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Supplier</th>
                    <th>Quantity</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hardware in Model)
                {
                    <tr>
                        <td>@hardware.Id</td>
                        <td>@hardware.Name</td>
                        <td>@hardware.Price</td>
                        <td>@hardware.Supplier</td>
                        <td>@hardware.Quantity</td>
                        <td>
                            @if(ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <a asp-action="Update" asp-route-id="@hardware.Id">Update |</a>
                                <a asp-action="Delete" asp-route-id="@hardware.Id"> Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>

