@model MVC.Models.Hardware;
<html>
    <head>
        <title>Hardware Details</title>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Supplier</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.Id</td>
                        <td>@Model.Name</td>
                        <td>@Model.Price</td>
                        <td>@Model.Supplier</td>
                        <td>@Model.Quantity</td>
                    </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-primary btn-sm" href="/Home">Main Menu</a> |
        <a class="btn btn-outline-primary btn-sm" href="/Hardware/Display">Go back to Display</a>
        <a class="btn btn-outline-primary btn-sm" href="/Hardware/Create">Create</a>
    </body>
</html>

