@model MVC.Models.Hardware;
 @TempData["State"]
<html>
    <head>
        <title>Update a Hardware</title>
    </head>
    <body>
        <h1>Enter hardware contents to update</h1>
        <hr>
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.Quantity)
                @Html.TextBoxFor(m => m.Quantity)
                @Html.ValidationMessageFor(m => m.Quantity)
            </div>
            <div>
                @Html.LabelFor(m => m.Supplier)
                @Html.TextBoxFor(m => m.Supplier)
                @Html.ValidationMessageFor(m => m.Supplier)
            </div>
            <div>
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price)
                @Html.ValidationMessageFor(m => m.Price)
            </div>
            <div>
                <input class="btn btn-primary btn-sm" type="submit" name="update-hardware" value="Update" />
            </div>
        }
        <div>
            <hr>
                <a class="btn btn-outline-primary btn-sm" href="/Home" role="button">Main Menu</a> |
                <a class="btn btn-outline-primary btn-sm" href="/Hardware/Display">Go back to Display</a>
        </div>
    </body>
</html>