﻿@model MVC.Models.Book;
@TempData["State"]
<html>
    <head>
        <title>Insert a new Book</title>
    </head>
<body>
    <h1>Insert a new book</h1>
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Id)
            @Html.TextBoxFor(m => m.Id)
            @Html.ValidationMessageFor(m => m.Id)
        </div>
        <div>
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div>
            @Html.LabelFor(m => m.Author)
            @Html.TextBoxFor(m => m.Author)
            @Html.ValidationMessageFor(m => m.Author)
        </div>
        <div>
            @Html.LabelFor(m => m.Isbn)
            @Html.TextBoxFor(m => m.Isbn)
            @Html.ValidationMessageFor(m => m.Isbn)
        </div>
        <div>
            @Html.LabelFor(m => m.Publisher)
            @Html.TextBoxFor(m => m.Publisher)
            @Html.ValidationMessageFor(m => m.Publisher)
        </div>
        <div>
            @Html.LabelFor(m => m.Price)
            @Html.EditorFor(m => m.Price)
            @Html.ValidationMessageFor(m => m.Price)
        </div>
        <div>
            <input class="btn btn-primary" type="submit" name="create-book" value="Save" />
        </div>
    }
<div>
    <hr>
        <a class="btn btn-outline-primary btn-sm" href="/Home" role="button">Home</a>
</div>
</body>
</html>
