@model List<Book>
<html>
    <head>
        <title>Book Details</title>   
    </head>
    <body>
        <p>
            <h6>Want to Search a Book ?  <a class="btn btn-outline-primary btn-sm" href="/Book/Search">Search</a></h6>
        </p>
        <div>
             Return to <a class="btn btn-outline-success btn-sm" href="/Home">Main Menu</a>
        </div>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <div>
                     <hr>
                     <h6>Add Book</h6>       
                    <a class="btn btn-outline-success btn-sm" href="/Book/Create">Add</a>   
            </div>
        }
        <table class="table">
            </br>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.Publisher</td>
                        <td>@book.Isbn</td>
                        <td>@book.Price</td>
                        <td>
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <a asp-action="Update" asp-route-id="@book.Id">Update |</a> 
                                <a asp-action="Delete" asp-route-id="@book.Id"> Delete</a>   
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>


