@model MVC.Models.Book;
<html>
    <head>
        <title>Book Details</title>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.Id</td>
                        <td>@Model.Title</td>
                        <td>@Model.Author</td>
                        <td>@Model.Publisher</td>
                        <td>@Model.Isbn</td>
                        <td>@Model.Price</td>
                    </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-primary btn-sm" href="/Home">Main Menu</a> |
        <a class="btn btn-outline-primary btn-sm" href="/Book/Display">Display</a> |
        <a class="btn btn-outline-primary btn-sm" href="/Book/Create">Create</a>
    </body>
</html>

