@model MVC.Models.Book;
@TempData["State"]
<html>
    <head>
        <title>Search a Book by Id</title>
    </head>
    <body>
        <h1>Enter book Id to search</h1>
        @using (Html.BeginForm("SearchBook","Book",FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.Id)
                @Html.TextBoxFor(m => m.Id)
                @Html.ValidationMessageFor(m => m.Id)
            </div>
            <div>
                <input class="btn btn-info btn-sm" type="submit" name="search-book" value="Search" />
            </div>
            <hr>
        }
        <a class="btn btn-outline-primary btn-sm" href="/Home" role="button">Main Menu</a> |
        <a class="btn btn-outline-primary btn-sm" href="/Book/Display" role="button">Display</a>  
    </body>
</html>