@model MVC.Models.Book;
@TempData["State"]
<html>
    <head>
        <title>Update a Book</title>
    </head>
    <body>
        <h1>Enter book contents to update</h1>
        <hr>
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div>
                @Html.LabelFor(m => m.Author)
                @Html.TextBoxFor(m => m.Author)
                @Html.ValidationMessageFor(m => m.Author)
            </div>
            <div>
                @Html.LabelFor(m => m.Publisher)
                @Html.TextBoxFor(m => m.Publisher)
                @Html.ValidationMessageFor(m => m.Publisher)
            </div>
            <div>
                @Html.LabelFor(m => m.Isbn)
                @Html.TextBoxFor(m => m.Isbn)
                @Html.ValidationMessageFor(m => m.Isbn)
            </div>
            <div>
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price)
                @Html.ValidationMessageFor(m => m.Price)
            </div>
            <div>
                <input class="btn btn-primary btn-sm" type="submit" name="update-book" value="Update" />
            </div>
        }
        <div>
            <hr>
            <a class="btn btn-outline-primary btn-sm" href="/Home" role="button">Main Menu</a> |
            <a class="btn btn-outline-primary btn-sm" href="/Book/Display">Go back to Display</a>
        </div>
    </body>
</html>