﻿@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <title>Asset Main Menu</title>
</head>
    <body>
        <table class="table">

            <tr>
                <th>
                    <h3>Book</h3>
                <div>
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-success btn-sm" href="/Book/Create" role="button">Create  </a>
                        <a> | </a>    
                    }
                    <a class="btn btn-outline-success btn-sm" href="/Book/Display" role="button">Display</a>
                </div>
                </th>
            </tr>

            <tr>
                <th>
                    <h3>Software Licence</h3>
                <div>
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-success btn-sm" href="/SoftwareLicence/Create" role="button">Create   </a>
                        <a> | </a>                       
                    }
                    <a class="btn btn-outline-success btn-sm" href="/SoftwareLicence/Display" role="button">Display</a>
                </div>
                </th>
            </tr>

            <tr>
                <th>
                    <h3>Hardware</h3>
                <div>
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-success btn-sm" href="/Hardware/Create" role="button">Create </a>  
                        <a> | </a>  
                    }
                    <a class="btn btn-outline-success btn-sm" href="/Hardware/Display" role="button">Display</a>
                </div>
                </th>
            </tr>

        </table>

    </body>
</html>
